<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Banilad Numbah Wan</span>
    <span style = "flex:1 1"></span>
    <button mat-raised-button color= "accent">
      <mat-icon>android</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-card-title>Gi Ni Ang Ni</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Gi</mat-label>
        <input matInput [(ngModel)] ="gi">
      </mat-form-field>
      <br>
      <mat-form-field>
          <mat-label>Ni</mat-label>
          <input matInput [(ngModel)] ="ni" >
        </mat-form-field>
      <br>
        <mat-form-field>
          <mat-label>Ang</mat-label>
          <input matInput [(ngModel)] ="ang">
        </mat-form-field>
      <br>
        <mat-form-field>
          <mat-label>Ni</mat-label>
          <input matInput [(ngModel)] ="ni2">
        </mat-form-field>
    </mat-card-content>

  </mat-card>


<h1>
  Gi {{ gi }} Ni {{ ni }}  Ang {{ ang }}   Ni {{ ni2 }}

</h1>
